{% extends "layout.html" %}

{% block head %}
    <link href="static/styles/style.css" rel="stylesheet">
    <link href="static/styles/scoreboard.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <a href="/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo"></a>
        <h1>BuildingBloCS2020</h1>
        <h2 class="race">The Amazing Race</h2>
        <h3 class="details">Complete as many stages as you can. Good luck and have fun!</h3>
    </header>

    <section>

        <h2>Update participants' final passwords:</h2>
        <form action="/admin" method="post">
            <div class="update">
                <h4>Email: <input name="email" type="text" required></h4>

                <h4>New password: <input name="newpassword" type="text" required></h4>
            </div>

            <input type="submit" value="Submit">
        </form>

        <br>

        <button onclick="downloadURI()" class="submit">Download DB</button>

        <table class="scoreboard">
            <tr>
                <th>Email</th>
                <th>Max</th>
                <th>Bonus0</th>
                <th>Bonus1</th>
                <th>Bonus2</th>
                <th>Bonus3</th>
                <th>Main0</th>
                <th>Main1</th>
                <th>Main2</th>
                <th>Main3</th>
                <th>Main4</th>
                <th>Main5</th>
                <th>Main6</th>
                <th>Main7</th>
            </tr>
            {% for user in data %}
                <tr>
                    {% for i in range(14) %}
                        {% if user[i] == None %}
                            <th>-</th>
                        {% else %}
                            <th>{{ user[i] }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </section>

    <script>
        function downloadURI() {
            var link = document.createElement('a');
            link.href = "sqlite_db";
            link.download = "sqlite_db";
            link.click();
        }
    </script>
{% endblock %}