<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Amazing Race</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/styles/login.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="box">
            <img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo">
            <h1>:(</h1>
            <h2>
                Sorry, The Amazing Race is currently closed for BBCS participants who signed up for Day 2 and are in groups.
                <br>
                Please make sure you are using the email that you signed up with.
                <br>
                If you believe this is a mistake, please ping <blockquote>@Help Desk</blockquote> in discord as soon as possible!
                <br>
                If you are a teacher, guest or did not register for Day 2 but would like to participate, please ping <blockquote>@Help Desk</blockquote> on discord too!
                <br>
                The Amazing Race will be reopened to the public after the competition ends. Thank you :)
            </h2>
        </div>
    </body>
</html>
