{% extends "layout.html" %}

{% block css %}
    <link href="static/styles/style.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo">
        <h1 class="black">BuildingBlo<span class="white">CS</span>2020</h1>
        <h2 class="race">The Amazing Race</h2>
        <h3 class="details">Complete as many stages as you can. Good luck and have fun!</h3>
    </header>
    
    <section>
        {% for i in range(stages|length) %}
            <a href="{{ stages[i][2]|safe }}">
            {% if i <= maxstage %}
                <button class="stage unlocked">{{ stages[i][1] }}</button>
            {% else %}
                <button class="stage locked">{{ stages[i][1] }} (Locked)</button>
            {% endif %}
            </a>
        {% endfor %}
        <br>
        <a href="/logout"><button class="logout">Logout</button></a>
    </section>  
{% endblock %}}