{% extends "layout.html" %}

{% block head %}
    <link href="static/styles/style.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <a href="/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo"></a>
        <h1>BuildingBloCS2020</h1>
        <h2 class="race">The Amazing Race</h2>
        <h3 class="details">Complete as many stages as you can. Good luck and have fun!</h3>
    </header>
    
    <section>
        <p class="stage-header">Main stages:</p>
        {% for i in range(main_stages|length) %}
            <a href="/stage{{ main_stages[i][0] }}">
            {% if i <= progress[0] %}
                <button class="stage unlocked">{{ main_stages[i][1] }}</button>
            {% else %}
                <button class="stage locked">{{ main_stages[i][1] }} (Locked)</button>
            {% endif %}
            </a>
        {% endfor %}
        <br>

        <p class="stage-header" style="margin-top:128px;">Bonus stages:</p>
        {% for i in range(bonus_stages|length) %}
            <a href="/bonus{{ bonus_stages[i][0] }}">
            {% if bonus_stages[i][2]|int <= progress[0] %}
                {% if progress[i+1] %}
                    <button class="stage completed">{{ bonus_stages[i][1] }}</button>
                {% else %}
                    <button class="stage unlocked">{{ bonus_stages[i][1] }}</button>
                {% endif %}
            {% else %}
                <button class="stage locked">{{ bonus_stages[i][1] }} (Locked)</button>
            {% endif %}
            </a>
        {% endfor %}
        <br>
        <a href="/logout"><button class="logout">Logout</button></a>
    </section>  
{% endblock %}}