<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Amazing Race</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}{% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400&display=swap" rel="stylesheet">
    </head>


    <body>
        {% block body %}{% endblock %}

        <footer>
            <a href="https://buildingblocs.github.io/2020/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="small-logo"></a>
            <div class="footer-details">
                <div class="links">
                    <a href="https://github.com/Airiinnn/amazing-race" class="link"><img src="/static/images/githubdark.png" alt="GitHub" class="github-logo"></a>
                    <a href="https://github.com/Airiinnn/amazing-race" class="link"><h4>GitHub</h4></a>
                </div>
                <h5>Brought to you by BuildingBloCS2020</h5>
            </div>
        </footer> 
    </body>
</html>