<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Amazing Race</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}{% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400&display=swap" rel="stylesheet">
    </head>


    <body>
        {% block body %}{% endblock %}

        <footer>
            <a href="https://buildingblocs.github.io/2020/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="small-logo"></a>
            <div class="footer-details">
                <h5>Brought to you by BuildingBloCS2020</h5>
                <div class="links">
                    <img src="/static/images/githublight.png" alt="GitHub" class="github-logo">
                    <h4><a href="https://github.com/Airiinnn" class="link">Airiinnn</a> <a href="https://github.com/boyuan618" class="link">boyuan618</a> <a href="https://github.com/UwUUwU" class="link">UwUUwU</a></h4>
                </div>
            </div>
        </footer> 
    </body>
</html>