{% extends "layout.html" %}

{% block head %}
    <meta http-equiv="refresh" content="10">
    <link href="static/styles/style.css" rel="stylesheet">
    <link href="static/styles/leaderboard.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <a href="/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo"></a>
        <h1>BuildingBloCS2020</h1>
        <h2 class="race">The Amazing Race</h2>
        <h3 class="details">Complete as many stages as you can. Good luck and have fun!</h3>
    </header>

    <ul class="navbar">
        <li class="navitem"><a href="/">Home</a></li>
        <li class="navitem"><a href="/leaderboard">Leaderboard</a></li>
        <li class="navitem"><a href="/about">About</a></li>
        <li class="navitem" style="float:right"><a href="/logout">Logout</a></li>
    </ul>

    <section>
        <h2><b>Leaderboard</b></h2>
        <h2>Your ranking: <b>{{ pos }}</b></h2>
        <br>

        <table class="leaderboard">
            <tr>
                <th>Ranking</th>
                <th>Email</th>
                <th>Stages completed</th>
                <th>Bonus 0</th>
                <th>Bonus 1</th>
                <th>Bonus 2</th>
                <th>Bonus 3</th>
            </tr>

            {% for i in range(data|length) %}
                {% if data[i] not in admin %}
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ data[i][0] }}</td>
                        <td>{{ data[i][1] }}</td>
                        {% for j in range(2, 6) %}
                            {% if data[i][j] == None %}
                                <td>-</td>
                            {% else %}
                                <td>Done</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </section>
{% endblock %}