<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Amazing Race</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/styles/login.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="box">
            <img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo">
            <h1>BuildingBloCS2020</h1>
            <h2>Welcome to The Amazing Race</h2>
            <div class="box-bottom">
                <a href="/login" class="login">Login to get started</a>
            </div>
        </div>
    </body>
</html>
