{% extends "layout.html" %}

{% block head %}
    <link href="../static/styles/style.css" rel="stylesheet">
    <link href="../static/styles/stage7.css" rel="stylesheet">
    <link href="static/styles/codemirror.css" rel="stylesheet">
    <link href="static/styles/monokai.css" rel="stylesheet">
    <script src="static/scripts/codemirror.js"></script>
    <script src="static/scripts/xml.js"></script>
{% endblock %}

{% block body %}
    <header>
        <a href="/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo"></a>
        <h1>Stage 7: HTML & CSS</h1>
        <h3>A 'programming' language.</h3>
    </header>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
      <li><a href="/about">About</a></li>
      <li style="float:right"><a href="/logout">Logout</a></li>
    </ul>
    
    <style>
        .left {text-align: left;}
        .hide{display: none;}
        td{
            border:1px solid black;
            height:50%;
            padding:25px 5px 5px 5px;
            /*position:left;*/
            vertical-align:left;
            width:50%;
            color: black;
         }
         html,body,table,div.content,iframe{
            border:0;
            height:100%;
            margin:0;
            padding:0;
            width:100%;
            diplay: flex;
            flex-wrap: wrap;
            /*font-size: 16px;*/
         }
    </style>
      <body onload = 'loadpage()'>
    <div class = 'questions'>
      <br>
      <br>
      <h3 class = 'left' id = 'qns'></h3>
      <h3 class = 'left' id = 'note'></h3>
      <br>
    </div>

    <button type = 'button' onclick = 'check()' class = 'submit'>Submit</button>
    <button type = 'button' id = 'next' class = 'submit' onclick = 'next()'>Next</button>

    <table>
      <tr>
          <td>
          <div class="black">HTML</div>
          <pre><div id="html" class="content" contenteditable></div></pre>
          </td>
          </td>
          <td>
            <div class="black">Output</div>
            <iframe id="output"></iframe>
          </td>
      </tr>
      </tr>
    </table>

    <p id = 'print'></p>
  </body>

<script>
const nextButton = document.getElementById('next');
const html=document.getElementById("html");
const output=document.getElementById("output");
let index = 0
alert('Click spacebar under \'HTML\' to enable the output display :)')

function loadpage(){
    var qnPath = '/stage7/qn'+String(index)+'.txt'
    fetch(qnPath)
    .then(function(response){
      return response.text();
    })
    .then(function(data){
      var lines = data.toString().split('|');
      //console.log(lines[1]);
      document.getElementById('qns').textContent=lines[0]
      document.getElementById('note').textContent=lines[1]
      document.getElementById('html').textContent=lines[2]
    })

    nextButton.classList.add('hide');
    var working=false;
    var fill=function(){
            if(working){ //ensures it's always true
                return false;
            }
            working=true;
            var document=output.contentDocument,
                style=document.createElement("style"),
                script=document.createElement("script");
            document.body.innerHTML=html.textContent;
            document.body.appendChild(style);
            document.body.appendChild(script);
            working=false;
        };

    html.onkeyup=fill; //when a user lifts a key
}

const msg = ['Try again!','Hint: don\'t forget your semi-colons :)','Hint: change the style to #f7f1e3 & ensure blockquote is outisde the pre tag :)', 'Hint: use list :)', 'Hint: use double quotation marks :)', 'Hint: use double quotation marks :)']
function check(){
  var userInput = document.getElementById("html").textContent.split(' ').join(''); //string value
  userInput = userInput.split('\t').join('');
  userInput = userInput.split('\n').join('');
  //console.log(userInput);

  fetch('/stage7/ans.txt')
  .then(function(response){
    return response.text();
  })
  .then(function(data){
    var lines = data.toString().split('|');
  //  console.log(lines[index]===userInput)
    if (userInput==lines[index]){
      nextButton.classList.remove('hide');
    }
    else{
      alert(msg[index])
    }
  })
}

function next(){
  index++
  console.log(index)
  if (index !== 5){
    loadpage()
  }
}

</script>
{% endblock %}
