{% extends "layout.html" %}

{% block head %}
    <link href="../static/styles/style.css" rel="stylesheet">
    <link href="../static/styles/stage7.css" rel="stylesheet">
    <link href="static/styles/codemirror.css" rel="stylesheet">
    <link href="static/styles/monokai.css" rel="stylesheet">
    <script src="static/scripts/codemirror.js"></script>
    <script src="static/scripts/xml.js"></script>
{% endblock %}

{% block body %}
    <header>
        <a href="/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo"></a>
        <h1>Stage 7: HTML & CSS</h1>
        <h3>Websites and stuff</h3>
    </header>
    
    <section>
        <div class="desc">
            <h4>
                You arrived on End island where the portal is located. After wandering around for a while, you finally found the old gatekeeper.
                <br>
                You told him your story and he agreed to help reactivate the portal to get you home.
                However, as the portal hasn't been activated in ages, he needs help reformatting his book of enchantments.
            </h4>
            
            <h3>
                His book of enchantments are written in HTML & CSS. Help him reformat it so he can use it to reactivate the portal.
                <br><br>
                Progress: {{ progress }} / 6
            </h3>
        </div>

        <h2>&lt;h1&gt;, &lt;h2&gt;, &lt;title&gt; & &lt;p&gt; are in the wrong places. Help relocate them to their correct places.</h2>

        <div class="input">
            <div class="editor">
                <textarea id="codeeditor"></textarea>
            </div>

            <iframe id="display"></iframe>
        </div>
        <br>

        <button class="submit" onclick="displayHTML()">Run</button>
    </section>

    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("codeeditor"), {
            mode: "xml",
            htmlMode: true,
            indentUnit: 4,
            lineNumbers: true,
            theme: "monokai"
        });

        editor.setSize(null, 800);

        function displayHTML() {
            var code = editor.getValue();

            var iframe = document.getElementById("display"),
            iframedoc = iframe.contentDocument || iframe.contentWindow.document;

            iframedoc.body.innerHTML = code;
        }
    </script>
{% endblock %}