{% extends "layout.html" %}

{% block head %}
    <link href="../static/styles/style.css" rel="stylesheet">
    <link href="../static/styles/stage0.css" rel="stylesheet">
{% endblock %}

{% block body %}
<header>
    <a href="/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo"></a>
    <h1>Stage 0: Cyber ethics and security</h1>
    <h3>Before we get start coding, let us learn about ethical and security issues that comes with it.</h3>
</header>

<section>
    <h1 class="black">style = "text-align: center;">Congratulations</h1>
    <h2 class="black">Password: hi1</h2>
    <h3 class="black">Looks like you're ready to move on!</h3>
    <a href="/"><button class="back">Return to main page</button></a>
</section>
{% endblock %}