{% extends "layout.html" %}

{% block head %}
    <link href="static/styles/style.css" rel="stylesheet">
    <link href="static/styles/stage5.css" rel="stylesheet">
    <link href="static/styles/codemirror.css" rel="stylesheet">
    <link href="static/styles/monokai.css" rel="stylesheet">
    <script src="static/scripts/codemirror.js"></script>
    <script src="static/scripts/python.js"></script>
{% endblock %}

{% block body %}
    <header>
        <a href="/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo"></a>
        <h1>Stage 5: Competitive Programming</h1>
        <h3>Gotta go fast</h3>
    </header>
    
    <section>
        <form action="/stage5" method="post">
            <div class="editor">
                <textarea id="codeeditor" name="code"></textarea>
            </div>

            <input type="submit" class="submit" name="Submit">
        </form>

        {% if error %}
            <h2 class="output">{{ error }}</h2>
        {% endif %}

        {% if userans %}
            <h2>Your output:</h2>
            <pre>
                {% for line in userans %}
                    <h2 class="output">{{ line }}</h2>
                {% endfor %}
            </pre>
        {% endif %}

        {% if correct %}
            <h2>Correct!</h2>
        {% elif correct == False %}
            <h2>Incorrect!</h2>
        {% endif %}
    </section>

    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("codeeditor"), {
            mode: "python",
            indentUnit: 4,
            lineNumbers: true,
            theme: "monokai"
        });
    </script>
{% endblock %}