{% extends "layout.html" %}

{% block head %}
    <link href="static/styles/style.css" rel="stylesheet">
    <link href="static/styles/stage2.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <a href="/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo"></a>
        <h1>Stage 2: Computational Thinking</h1>
        <h3>Big think</h3>
    </header>

    <ul class="navbar">
        <li class="navitem"><a href="/">Home</a></li>
        <li class="navitem"><a href="/leaderboard">Leaderboard</a></li>
        <li class="navitem"><a href="/about">About</a></li>
        <li class="navitem" style="float:right"><a href="/logout">Logout</a></li>
    </ul>

    <section>
        <h4>
            You head over to the neighbouring village to visit Doctor Huh to ask about the portal that leads back to your world.
            <br>
            Upon reaching his office, you see him staring at his monitor screen in deep focus. He doesn't like being interrupted while he is thinking.
        </h4>

        <h3>
            Help him solve these problems so he can answer your answer about the portal.
            <br><br>
            Progress: {{ progress }} / 8
        </h3>
        <br>

        {% if question[0] <= "q5" %}
            <h2>Input to output</h2>
            <h3>Try to figure out it's output!<br>Feel free to try them out in an IDE!</h3>    
        {% else %}
            <h2>Output to input</h2>
            <h3>Here's some challenging ones! Instead of finding out the output, you now have to find out the input!</h3>
        {% endif %}

        <form action="/stage2" method="post">
            <input type="hidden" name="qn" value="{{ question[0] }}">
            <input type="hidden" name="progress" value="{{ progress }}">

            <img src="/static/images/stage2/{{ question[1] }}" alt="Question" class="qn">
            <br>
            <div style="width:100%;">
                <input type="text" name="ans" class="text" placeholder="Answer" autocomplete="off" required>
            </div>

            <input type="submit" name="Submit" class="submit">
        </form>

        {% if correct == False %}
            <h2 class="incorrect">Incorrect! Try again!</h2>
        {% endif %}
    </section>
{% endblock %}