{% extends "layout.html" %}

{% block head %}
    <link href="static/styles/style.css" rel="stylesheet">
    <link href="static/styles/stage6.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <a href="/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo"></a>
        <h1>Stage 6: Socket</h1>
        <h3>Server & client</h3>
    </header>

    <ul class="navbar">
        <li class="navitem"><a href="/">Home</a></li>
        <li class="navitem"><a href="/leaderboard">Leaderboard</a></li>
        <li class="navitem"><a href="/about">About</a></li>
        <li class="navitem" style="float:right"><a href="/logout">Logout</a></li>
    </ul>
    
    <section>
        <h4>
            You used the magic coin to teleport to Mr Boss. He is in a war against the neighbouring islands and needs your help.<br>
            He agress to lend you his ship to go to End island if you help him defeat his enemies.
            <br><br>
            Help the Mr Boss defeat his enemies!
        </h4>

        <h2><a href="https://flask-socketio-game.herokuapp.com/"><b>War plans</b></a></h2>

        <a href="/"><button class="submit">Home</button></a>
    </section>
{% endblock %}