{% extends "layout.html" %}

{% block head %}
    <link href="static/styles/style.css" rel="stylesheet">
    <link href="static/styles/stage1.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <a href="/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo"></a>
        <h1>Stage 3: Databases</h1>
        <h3>SQL or NoSQL? Hmm...</h3>
    </header>
    
    <section>
        <form action="/stage3/submission" method="POST">
            <h2><b>STAGE 1</b></h2>
            <h2>Fill in the blanks</h2>
            <br>
            <h2>Q1: How to select everything in a table?</h2>
            <p><input class="inject" name = "q1" type="text" placeholder="SELECT {fill in} FROM sql_data"></p>
            <br>
            <h2>Q2: How to select items from a column in a table, with given conditions?</h2>
            <p><input class="inject" name = "q2" type="text" placeholder="SELECT {fill in} FROM sql_data {fill in} id=1"></p>
            <br>
            <h2>Q3: How to insert new data into the table?</h2>
            <p><input class="inject" name = "q3" type="text" placeholder="{fill in} {fill in} sql_data (id) {fill in} (1)"></p>
            <br>
            <br>
            <h2><b>STAGE 2</b></h2>
            <h2>GET THE FLAG (PS: Its one of the passwords)</h2>
            <p><input class= "inject" name="inject" type = "text" placeholder="Enter your username to check password"></p>
            <input type = "submit" value = "Submit" class="submit">
        </form>
    </section>
{% endblock %}
