{% extends "layout.html" %}

{% block css %}
    <link href="static/styles/style.css" rel="stylesheet">
    <link href="static/styles/stage0.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <a href="/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo"></a>
        <h1>Stage 0: Cyber ethics and security</h1>
        <h3>Before we get start coding, let us learn about ethical and security issues that comes with it.</h3>
    </header>
    
    <section>
        <form action = '/stage0/submission' method="POST">
                {% for question in questions %}
                    <fieldset id = {{loop.index}} class="questions">
                        <h2 class="question">Question: {{ question[0] }}</h2>
                        <input type="radio" id="0" name = {{loop.index}} value = "0" required>
                        <label for='0'>{{ question[1] }}</label><br>
                        <input type="radio" id="1" name = {{loop.index}} value = "1">
                        <label for='1'>{{ question[2] }}</label><br>
                        <input type="radio" id="2" name = {{loop.index}} value = "2">
                        <label for='2'>{{ question[3] }}</label><br>
                        <input type="radio" id="3" name = {{loop.index}} value = "3">
                        <label for='3'>{{ question[4] }}</label><br>
                    </fieldset>
                {% endfor %}
            <input type = "submit" value = "Submit" class="submit">
        </form>
    </section>
{% endblock %}