{% extends "layout.html" %}

{% block head %}
    <link href="static/styles/style.css" rel="stylesheet">
    <link href="static/styles/stage4.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <a href="/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo"></a>
        <h1>Stage 4: NoSQL</h1>
        <h3>Non-relational</h3>
    </header>
    
    <section>
        <h4>
            Following Ms Gogle's advice, you head over to BuildingBloCS land in search of the BuildingBloCS logo.<br>
            However, when you arrive, you found out that the BuildingBloCS logo has been stolen!
            <br><br>
            Help the BuildingBloCS police search for the culprit and retrieve the BuildingBloCS logo!
        </h4>

        <h2><a href="https://github.com/joelleoqiyi/BBCS-X-NoSQL-AmazingRace"><b>Case Documents</b></a></h2>

        <a href="/"><button class="submit">Home</button></a>
    </section>
{% endblock %}