{% extends "layout.html" %}

{% block head %}
    <link href="../static/styles/style.css" rel="stylesheet">
    <link href="../static/styles/stage3.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <a href="/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo"></a>
        <h1>Stage 3: SQL</h1>
        <h3>Relational</h3>
    </header>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
        <li><a href="/about">About</a></li>
        <li style="float:right"><a href="/logout">Logout</a></li>
    </ul>

    <section>
        <h2>Excellent job!</h2>
        <h3>The book says that the BuildingBloCS logo will show you the way. But where is it?</h3>
        <h2>Locate the BuildingBloCS logo to get your password.</h2>
        <a href="/"><button class="submit">Home</button></a>
    </section>

    <!-- BuildingBlocs Logo is obviosuly in "bbcsland" -->
{% endblock %}