{% extends "layout.html" %}

{% block css %}
    <link href="../../static/styles/style.css" rel="stylesheet">
    <link href="../../static/styles/stage0.css" rel="stylesheet">
{% endblock %}

{% block body %}
<header>

<a href="/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="main-logo"></a>
<h1 style = "text-align: center;">OOPS!</h1>
<h2>You aren't supposed to be here yet!</h2>

</header>
<section>
    <a href="/stage0"><button class="back">Back to stage 0!</button></a>
</section>

{% endblock %}