{% extends "layout.html" %}

{% block css %}
    <link href="static/styles/style.css" rel="stylesheet">
    <link href="static/styles/submit.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <h1>Next stage</h1>
        <h3>So you want to move on to the next stage? Password please.</h3>
    </header>

    <section>
        <h2 class="black">Super secret password:</h2>
        <form action="/submission" method="post">
            <input type="text" class="text" name="psw" placeholder="Password" autocomplete="off" required>
            <br>
            <input type="submit" class="submit" value="Submit">
        </form>
    </section>

    <footer>
        <a href="https://buildingblocs.github.io/2020/"><img src="/static/images/logowhite.svg" alt="BuildingBlocs2020" class="small-logo"></a>
        <div class="footer-details">
            <div class="links">
                <a href="https://github.com/Airiinnn/amazing-race" class="link"><img src="/static/images/githubdark.png" alt="GitHub" class="github-logo"></a>
                <a href="https://github.com/Airiinnn/amazing-race" class="link"><h4>GitHub</h4></a>
            </div>
            <h5>Brought to you by BuildingBloCS2020</h5>
        </div>
    </footer>
{% endblock %}