label {
    font-size: 20px;
    font-weight: lighter;
}

.questions {
    border: none;
    background-color: white;
    margin: 25px auto;
    border-radius: 25px;
    padding: 20px;
    width: 75%;
    font-size: 20px;
    text-align: left;
}

.question {
    margin: 24px 0px;
    font-weight: normal;
}

.submit {
    width: 150px;
    height: 50px;
    background-color: #B3DCE2;
    color: white;
    border: 2px solid #B3DCE2;
    border-radius: 25px;
    padding: 5px;
    margin: 20px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.submit:hover {
    background-color: #E8C4B8;
    border: 3px solid #E8C4B8;
}

.back {
    width: 200px;
    height: 50px;
    background-color: #B3DCE2;
    color: white;
    border: 2px solid #B3DCE2;
    border-radius: 25px;
    padding: 5px;
    margin: 20px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.back:hover {
    background-color: #E8C4B8;
    border: 3px solid #E8C4B8;
}

.correct {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}