.qn {
    width: 70%;
}

.output-input {
    margin-top: 80px;
}

.text {
    width: 120px;
    border-top: None;
    border-right: None;
    border-left: None;
    border-bottom-width: 3px;
    border-bottom-color: #8A0303;
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 64px;
}

.submit {
    width: 150px;
    height: 50px;
    border: 2px solid #8A0303;
    border-radius: 25px;
    background-color: white;
    color: #8A0303;
    padding: 5px;
    margin: 20px;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.submit:hover {
    background-color: #8A0303;
    color: white;
}

.red {
    color: crimson;
}

.green {
    color: limegreen;
}